* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: url(../img/pizza-3007395_1920.jpg);
  background-position: center;
  background-size: cover;
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: darken;
  overflow: hidden;
}

.container{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

/* form */
label{
  display: block;
  color: #333;
  font-weight: bolder;
  font-size: 1.2rem;
}

input{
  color: #444;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 6px;
  outline: none;
  font-size: 1rem;
}

textarea{
  padding: 6px;
  font-size: 1rem;
  resize: none;
  outline: none;
  border: 2px solid #ccc;
}

button[type="submit"]{
  padding: 8px;
  border: none;
  background: #481;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 4px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #f9f9f9;
  padding: 40px;
  width: 400px;
  border-radius: 8px;
}

select{
  padding: 8px;
  border: none;
  outline: none;
  background: #e2e2e2;
  color: #000;
  font-size: 1.2rem;
  cursor: pointer;
}


